{# empty Twig template #}
<h1>Algo malo acaba de ocurrir.</h1>
<h2>Error:{{status_code}} {{status_text|upper}}</h2>
<h2>{{exception.message|nl2br|format_file_from_text}}</h2>

<h1><a href="{{path('admin_homepage')}}">Regresa al menú principal</a></h1>