{# empty Twig template #}
<div id="detalleproveedores" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header"><!--#9adc09-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Detalles / Modificar Proveedor</h4>
            </div>
            <form action="" id="modificar_proveedor" method="POST">
                <div class="modal-body">

                    <!-- Fecha de Ingreso -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Fecha de registro
                                </label>
                                <div class="controls"><input name="det_fecha"  class="form-control" placeholder="" type="text" disabled value="" id="det_fecha" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Empresa
                                </label>
                                <div class="controls"><input name="det_empresa" class="form-control" placeholder="" type="text" required value="" id="det_empresa" style="width: 100%;" >
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Nombre
                                </label>
                                <div class="controls"><input name="det_nombre"  class="form-control" placeholder="" type="text"  value="" id="det_nombre" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Apellidos
                                </label>
                                <div class="controls"><input name="det_apellidos" class="form-control" placeholder="" type="text"  value="" id="det_apellidos" style="width: 100%;" >
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    R.F.C.
                                </label>
                                <div class="controls"><input name="det_rfc"  class="form-control" placeholder="" type="text"  value="" id="det_rfc" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Folio
                                </label>
                                <div class="controls"><input name="det_folio" class="form-control" placeholder="" type="text"  value="" id="det_folio" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Tipo
                                </label>
                                <div class="controls"><input name="det_tipo" class="form-control" placeholder="" type="text"  value="" id="det_tipo" style="width: 100%;" >
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Correo
                                </label>
                                <div class="controls"><input name="det_correo"  class="form-control" placeholder="" type="text"  value="" id="det_correo" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Página Web
                                </label>
                                <div class="controls"><input name="det_pagina" class="form-control" placeholder="" type="text"  value="" id="det_pagina" style="width: 100%;" >
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Calle
                                </label>
                                <div class="controls"><input name="det_calle"  class="form-control" placeholder="" type="text"  value="" id="det_calle" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Número
                                </label>
                                <div class="controls"><input name="det_numero" class="form-control" placeholder="" type="text"  value="" id="det_numero" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Colonia
                                </label>
                                <div class="controls"><input name="det_colonia" class="form-control" placeholder="" type="text"  value="" id="det_colonia" style="width: 100%;" >
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Municipio
                                </label>
                                <div class="controls"><input name="det_municipio"  class="form-control" placeholder="" type="text"  value="" id="det_municipio" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Estado
                                </label>
                                <select name="det_estado" id="det_estado" class="form-control">
                                    <option value="0" >Elige un estado: </option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Distrito Federal">Distrito Federal</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Teléfono
                                </label>
                                <div class="controls"><input name="det_telefono"  class="form-control" placeholder="" type="text"  value="" id="det_telefono" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Contacto
                                </label>
                                <div class="controls"><input name="det_contacto" class="form-control" placeholder="" type="text"  value="" id="det_contacto" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Teléfono Contacto
                                </label>
                                <div class="controls"><input name="det_telcontacto" class="form-control" placeholder="" type="text"  value="" id="det_telcontacto" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Mail Contacto
                                </label>
                                <div class="controls"><input name="det_mailcontacto" class="form-control" placeholder="" type="text"  value="" id="det_mailcontacto" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Rama
                                </label>
                                <div class="controls"><input name="det_rama"  class="form-control" placeholder="" type="text"  value="" id="det_rama" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Tamaño
                                </label>
                                <div class="controls"><input name="det_tamanio" class="form-control" placeholder="" type="text"  value="" id="det_tamanio" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Actividad
                                </label>
                                <div class="controls"><input name="det_actividad" class="form-control" placeholder="" type="text"  value="" id="det_actividad" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Servicios
                                </label>
                                <div class="controls"><input name="det_servicios" class="form-control" placeholder="" type="text"  value="" id="det_servicios" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Titular
                                </label>
                                <div class="controls"><input name="det_titular"  class="form-control" placeholder="" type="text"  value="" id="det_titular" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    RFC Cuenta
                                </label>
                                <div class="controls"><input name="det_rfccuenta" class="form-control" placeholder="" type="text"  value="" id="det_rfccuenta" style="width: 100%;" >
                                </div>
                            </div>
                        </div>


                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                   Banco
                                </label>
                                <div class="controls"><input name="det_banco"  class="form-control" placeholder="" type="text"  value="" id="det_banco" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Cuenta
                                </label>
                                <div class="controls"><input name="det_cuenta" class="form-control" placeholder="" type="text"  value="" id="det_cuenta" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Clabe
                                </label>
                                <div class="controls"><input name="det_clabe" class="form-control" placeholder="" type="text"  value="" id="det_clabe" style="width: 100%;" >
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <input name="idproveedormodificar" class="form-control" placeholder="" type="hidden"  value="" id="idproveedormodificar" style="width: 100%;" >

                <div class="modal-footer icon-preview">

                    <div {% if 'EDICION' in ppm %} class="btn-lg col-md-3 text-center " id="btn_modificar"  data-path="{{path('modificar_proveedor')}}"{% else %} class="btn-lg col-md-3 text-center boton_disable " {% endif %}  title="Modificar"  style="cursor: pointer;" > Modificar</div><br><br>

                </div>
            </form>
                
                </div>
                


        </div>

    </div>
</div>

