{% extends 'base.html.twig' %}
{% block title %}
    Proveedores
{% endblock %}
{% block header %}

    <script src="{{ asset('bundles/admin/js/proveedores.js') }}"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">

{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">

            <h1 class="text-center header">Registro de Proveedores</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-md-2 col-md-offset-5 btn btn-lg" id="divnuevoproveedor">Nuevo Proveedor</div>

            <div class="col-md-12 " id="nuevoproveedordiv" style="display: none;">
                <form role="form" id="proveedoresform" action="{{path('crear_proveedor')}}" method="POST" >
                    <div class="row">
                        <div class="page-header2 col-md-12">
                            <h1><small>Datos Principales</small></h1>
                        </div></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre (s)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="empresa" name="empresa" placeholder="Empresa">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="rfc" name="rfc" placeholder="R.F.C.">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="folio" name="folio" placeholder="Folio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="pagina" name="pagina" placeholder="Página Web" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="calle" name="calle" placeholder="Calle" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="colonia" name="colonia" placeholder="Colonia" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="municipio" name="municipio" placeholder="Municipio" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="estado" id="estado" class="form-control">
                                    <option value="0" >Elige un estado: </option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Distrito Federal">Distrito Federal</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="contacto" name="contacto" placeholder="Contacto" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="tel" name="tel" placeholder="Teléfono" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="telcontacto" name="telcontacto" placeholder="Tel. de Contacto" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="mailcontacto" name="mailcontacto" placeholder="Mail de Contacto" >
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="rama" name="rama" placeholder="Rama" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="tamanio" name="tamanio" placeholder="Tamaño" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="actividad" name="actividad" placeholder="Actividad" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="servicios" name="servicios" placeholder="Servicios" >
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="page-header col-md-12">
                            <h1><small>Datos Bancarios</small></h1>
                        </div></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="rfccuenta" name="rfccuenta" placeholder="Rfc de la Cuenta" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="cuenta" name="cuenta" placeholder="Cuenta" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="banco" name="banco" placeholder="Banco" >
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="clabe" name="clabe" placeholder="Clabe" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="titular" name="titular" placeholder="Titular" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Fecha de Alta" value="{{ date().format('d/m/Y') }}" disabled>
                            </div>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="urlinsertarproveedor" value="{{path('crear_proveedor')}}"/>
                            <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_proveedor" class="btn-lg col-md-2 text-center pull-right " type="submit"  {% else %}  class="btn-lg col-md-2 text-center pull-right boton_disable"  {% endif %} value="Agregar Proveedor" /> 

                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row">
            <h1 class="text-center header2">Proveedores</h1>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" >
                <table id="tabla_proveedores" class="display nowrap table table-striped  " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Nombre</th>
                            <th>Folio</th> 
                            <th>Tipo</th>
                            <th>Email</th>
                            <th>Ciudad</th>
                            <th>Ver/Modificar</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for prov in proveedores %}
                            <tr>
                                <td>{{prov.empresa}}</td>
                                <td>{{prov.nombre}} {{prov.apellidos}}</td>
                                <td>{{prov.folio}}</td>
                                <td>{{prov.tipo}}</td>
                                <td>{{prov.correo}}</td>
                                <td>{{prov.municipio}}</td>
                                <td><div class="detalle_proveedor" data-id="{{prov.id}}" data-path="{{path('detalle_proveedor')}}"  title="Modificar" style="cursor: pointer; text-decoration:underline;color:#009888;"> Ver/Editar</div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



    </div>
    <script type="text/javascript">

    </script>

    <div class="col-md-12">
        {% include "AdminBundle:proveedores:detalleproveedores.html.twig" %}</div>

{% endblock %}
