{# empty Twig template #}

<div id="proveedor1">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="control-group">
            Proveedor:
            <select name="proveedor_ddl1" id="proveedor_ddl1" class="form-control" data-width="100%" >
                <option value="0" >Eliga el proveedor 1</option>
                {% for proveedor in proveedor %}
                    <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
        <div class="control-group">
            Precio 1:
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio11" name="precio11" placeholder="precio 1">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
        <div class="control-group">
            Precio 2:
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio12" name="precio12" placeholder="precio 2">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4">
        <div class="control-group">
            Precio 3:
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio13" name="precio13" placeholder="precio 3">
        </div>
    </div>
    <label style="color:green; cursor: pointer; display:none;"  id="addp1">Agregar otro proveedor</label>
</div>


<div id="proveedor2" class="col-md-12" style="display:none;">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="control-group">
            <select name="proveedor_ddl2" id="proveedor_ddl2" class="form-control" data-width="100%" >
                <option value="0" >Eliga el proveedor 2</option>
                {% for proveedor in proveedor %}
                    <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio21" name="precio21" placeholder="precio 1">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio22" name="precio22" placeholder="precio 2">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio23" name="precio23" placeholder="precio 3">
        </div>
    </div>
    <label style="color:green; cursor: pointer;" id="addp2">Agregar otro proveedor</label>
</div>

<div id="proveedor3" class="col-md-12" style="display:none;">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="control-group">
            <select name="proveedor_ddl3" id="proveedor_ddl3" class="form-control" data-width="100%" >
                <option value="0" >Eliga el proveedor 3</option>
                {% for proveedor in proveedor %}
                    <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio31" name="precio31" placeholder="precio 1">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio32" name="precio32" placeholder="precio 2">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio33" name="precio33" placeholder="precio 3">
        </div>
    </div>
    <label style="color:green; cursor: pointer;" id="addp3">Agregar otro proveedor</label>
</div>

<div id="proveedor4" class="col-md-12" style="display:none;">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="control-group">
            <select name="proveedor_ddl4" id="proveedor_ddl4" class="form-control" data-width="100%" >
                <option value="0" >Eliga el proveedor 4</option>
                {% for proveedor in proveedor %}
                    <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0"  class="form-control" id="precio41" name="precio41" placeholder="precio 1">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio42" name="precio42" placeholder="precio 2">
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="control-group">
            <input  type="number" step="any" min="0" value="0" class="form-control" id="precio43" name="precio43" placeholder="precio 3">
        </div>
    </div>

</div>