<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <title>{% block title %}{% endblock %}</title>
        <script src="//code.jquery.com/jquery-1.12.3.js"></script>
        <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/generales.js') }}"></script>
        <script src="{{ asset('bundles/admin/js/menu.js') }}"></script>
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <link href={{ asset('bootstrap/css/bootstrap.css') }} rel="stylesheet" type="text/css"/>
        <link href={{ asset('css/generales.css') }} rel="stylesheet" type="text/css"/>
        <link href={{ asset('bundles/admin/css/menu.css') }} rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,500,400' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        

        



        <style>

            h1 {
                margin-bottom: 20px;
            }
            a {
                color: #fbfbfb;
                text-decoration: none;
            }
            .control-group
            {
                padding: 5px 0px;
            }
        </style>

        {% block header %}

        {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    {% include 'AdminBundle:menu:menu.html.twig' %}

    {% block body %}

    {% endblock %}

{% block javascripts %}{% endblock %}

<div id="loading">
    <img src="{{asset('imagenes/loading.gif')}}" alt="loading" style="width: 120px; position: absolute; top: 50%; left: 50%; margin-top: -60px; margin-left: -80px;"/>
</div>
</body>
</html>
