{# empty Twig template #}
<div id="detalleentradas" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="false">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header"><!--#9adc09-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Detalle Entrada</h4>
            </div>
            <form action="" id="modificar_detalle" method="POST">
                <div class="modal-body">
                    
                    <div class="row">
<div class="control-group">
                                <label for="codigos" class="control-label">	
                                    Códigos Generados </label>
                                
                            </div>
                        <div class="col-md-12" id="codigos">
                            
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="control-group">

                                

                                    <!--
                                    {% if "EDICION" in ppm %}
                                        <input type="submit" value="modificar" class=" btn btn-lg col-md-12 text-center" id="btn_modificar"  data-path="{{path('modificar_producto')}}"    />            
                                        <button class="btn col-md-12  btn-lg eliminarproducto" data-id="" data-path="{{path('eliminar_producto')}}" id="eliminarproducto" >Eliminar Producto</button>
                                    {% else %}
                                        <input type="submit" class=" btn btn-lg col-md-12 text-center boton_disable" id="btn_modificar"  data-path="{{path('modificar_producto')}}"    value="Modificar"/>
                                        <button class="col-md-12  btn btn-lg boton_disable" data-id="" data-path="{{path('eliminar_producto')}}" id="eliminarproducto" >Eliminar Producto</button>
                                    {% endif %}-->
                                
                            </div>
                        </div>
                    </div>
                    <input name="identradamodificar" class="form-control" placeholder="" type="hidden"  value="" id="identradamodificar" style="width: 100%;" >


                </div>


            </form>
        </div>




    </div>

</div>



