{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}
    Entradas
{% endblock %}
{% block header %}

    <script src="{{ asset('bundles/admin/js/entradas.js') }}"></script>
    <script src="{{ asset('js/JsBarcode.js') }}"></script>
    <script src="{{ asset('js/jQuery.print.js') }}"></script>
    <script src="{{ asset('js/CODE128.js') }}"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <h1 class="text-center header">Registro y Detalle de Entradas</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="container main">

        <div class="row">
            <div class="col-md-2 col-md-offset-5 btn btn-lg" id="divnuevaentrada">Nueva Entrada</div>
            <div class="col-md-12" id="nuevaentradadiv" style="display: none;">
                <form role="form" id="entradasform" method="POST" enctype="multipart/form-data" action="{{path('crear_entrada')}}">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="control-group">
                                <label for="producto" class="control-label">Producto
                                </label>
                                <select name="producto" id="producto" class="form-control" data-width="100%" data-path="{{path('entradas_proveedor')}}">
                                    <option value="0" >Elija el producto </option>
                                    {% for productos in productos %}
                                        <option value="{{productos.id}}" >{{productos.nombre}} {{productos.color.nombre}} - {{productos.longitud}}-{{productos.ancho}}-{{productos.peso}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="producto" class="control-label">Unidad de medida
                                </label>
                                <select name="unidadmedida_ddl" id="unidadmedida_ddl" class="form-control" data-width="100%" >
                                    <option value="0" >Eliga la unidad de medida </option>
                                    {% for unidad in unidad %}
                                        <option value="{{unidad.id}}" >{{unidad.nombre}} </option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>


                        <div class="col-md-6">


                            {% include 'AdminBundle:proveedores:proveedores.html.twig' %}
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="numero" class="control-label">Número
                                </label>
                                <input type="number" step="any" min="0" class="form-control" id="numero" name="numero"  placeholder="0">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="peso" class="control-label">Peso
                                </label>
                                <input type="number" step="any" min="0" class="form-control" id="peso" name="peso"  placeholder="0">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="ancho" class="control-label">Ancho en Cms
                                </label>
                                <input type="number" step="any" min="0" class="form-control" id="ancho" name="ancho"  placeholder="0" >
                            </div>
                        </div><div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="longitud" class="control-label">Longitud en Cms
                                </label>
                                <input type="number" step="any" min="0" class="form-control" id="longitud" name="longitud"  placeholder="0" >
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3" >
                            <div class="control-group">
                                <label for="entrega" class="control-label">Persona que entrega
                                </label>
                                <input  type="text"  class="form-control" id="entrega" name="entrega" placeholder="Nombre completo">

                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="control-group">
                                <label for="longitud" class="control-label">Cantidad que ingresa
                                </label>
                                <input  type="number" type="any" min="0" class="form-control" id="cantidadingresa" name="cantidadingresa" placeholder="0">
                                <input  type="hidden" type="any" min="0" class="form-control" id="valor" name="valor" placeholder="0">
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="control-group">
                                <label for="longitud" class="control-label">Cantidad de Ingreso por Unidad de Medida
                                </label>
                                <input  type="number" type="any" min="0" class="form-control" id="cantidadunidad" name="cantidadunidad" placeholder="0" disabled>
                                <input  type="hidden" type="any" min="0" class="form-control" id="cantidadunidadh" name="cantidadunidadh" >
                            </div>
                        </div>
                                               
                    </div>
                    <div class="row">
                        <div class="col-md-3" >
                            <div class="control-group">
                                <label for="formaentrada" class="control-label">Forma de Entrada
                                </label>
                                <select name="formaentrada" id="formaentrada" class="form-control" data-width="100%">
                                    <option value="0" >Elija la forma de entrada </option>
                                    {% for formaentrada in formaentrada %}
                                        <option value="{{formaentrada.id}}" >{{formaentrada.formanentrada}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="control-group">
                                <label for="cajas" class="control-label">Número de Cajas
                                </label>
                                <input  type="number" step="any" min="0"  class="form-control" id="cajas" name="cajas" placeholder="0" >
                            </div>
                        </div> 
                        <div class="col-md-3" >
                            <div class="control-group">
                                <label for="paquetes" class="control-label">Número de Paquetes
                                </label>
                                <input  type="number" step="any" min="0"  class="form-control" id="paquetes" name="paquetes" placeholder="0" >
                            </div>
                        </div> 
                        <div class="col-md-3" >
                            <div class="control-group">
                                <label for="unidades" class="control-label">Número de Unidades
                                </label>
                                <input  type="number" step="any" min="0"  class="form-control" id="unidades" name="unidades" placeholder="0"  >
                            </div>
                        </div> 

                    </div>


                    <div class="row">
                        <div class="col-md-6" >
                            <div class="control-group">
                                <label for="fecharegistro" class="control-label">Fecha de Registro de Entrada
                                </label>
                                <input  type="text"   class="form-control" id="fecharegistro" name="fecharegistro" value="{{date().format("d/m/Y")}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="control-group">
                                <label for="almacen" class="control-label">Almacen de Resguardo
                                </label>
                                <select name="almacen" id="almacen" class="form-control" data-width="100%">
                                    <option value="0" >Elija el almacen </option>
                                    {% for almacen in almacen %}
                                        <option value="{{almacen.id}}" >{{almacen.almacen}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>







                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="urlinsertarentrada" value="{{path('crear_entrada')}}"/>
                            <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_entrada" class="btn-lg col-md-2 text-center pull-right " type="submit"  {% else %}  class="btn-lg col-md-2 text-center pull-right boton_disable"  {% endif %} value="Agregar Producto" /> 
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 tableblanco " >
                <form action="{{path('entradasfecha')}}"  method="post">
                <table border="0" cellspacing="5" cellpadding="5" style="padding-bottom: 14px;">
                    <tbody><tr>
                            <td>Fecha de inicio:</td>
                            <td><input type="text" class="form-control datepicker"  id="min" name="min"   value=""></td>
                            
                            <td>Fecha de término:</td>
                            <td><input type="text" class="form-control datepicker"  id="max" name="max"   value=""></td>
                           
                            <td><input type="submit" value="Generar reporte" class="btn-lg linkload"></td>
                        </tr>
                        <tr>
                            <td colspan="2">{% if min is defined %} {{min|date('d/m/Y')}} {% endif %}</td>
                             <td colspan="2">{% if max is defined %} {{max|date('d/m/Y')}} {% endif %}</td>
                        </tr>
                    </tbody></table>
                </form>
            </div>
            <div class="col-md-12 tableblanco" >
                <table id="tabla_entradas" class="display nowrap table table-striped  " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Entrada</th>
                            <th class="text-center">Fecha de Registro</th>
                            <th class="text-center">Producto</th> 
                            <th class="text-center">Modelo</th>
                            <th class="text-center">Color</th>
                            <th class="text-center">Ancho</th>
                            <th class="text-center">Largo</th>
                            <th class="text-center">Peso</th>
                            <th class="text-center">Número</th> 

                            <th class="text-center">Caja</th>
                            <th class="text-center">Paquete</th>
                            <th class="text-center">Unidades</th>
                            <th class="text-center">Total Ingreso Unidades</th>
                            <th class="text-center">Total Ingreso p/u de medida</th>
                            <th class="text-center">Código(s)</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for entradas in entradas %} 
                            <tr>
                                <td class="text-center">{{entradas.id}}</td>
                                <td class="text-center">{{entradas.fecharegistro|date('d/m/Y')}}</td>
                                <td class="text-center">{{entradas.producto.nombre}}</td>
                                <td class="text-center">{{entradas.producto.modelo.nombre}}</td>
                                <td class="text-center">{{entradas.producto.color.nombre}}</td>
                                <td class="text-center">{{entradas.ancho}}</td>
                                <td class="text-center">{{entradas.longitud}}</td>
                                <td class="text-center">{{entradas.peso}}</td>
                                <td class="text-center">{{entradas.numero}}</td>

                                <td class="text-center">{{entradas.cajas}}</td>
                                <td class="text-center">{{entradas.paquetes}}</td>
                                <td class="text-center">{{entradas.unidades}}</td>
                                <td class="text-center">{{entradas.cantidadingresa}}</td>
                                <td class="text-center">{{entradas.cantidadunidad}} </td>

                                <td class="text-center">
                                    <button class="btn btn-lg-tabla detalle_entradas" type="button" data-toggle="modal" data-path="{{path('detalle_entrada')}}" data-id="{{entradas.id}}" data-target="#detalleentradas" > Detalles    </button>
                                </td>


                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {% include "AdminBundle:entradas:detalleentradas.html.twig" %}


        </div>
    </div>
            
            <script>
  
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker();
        
    });
</script>
            
{% endblock %}