{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}
    Salidas
{% endblock %}
{% block header %}

    <script src="{{ asset('bundles/admin/js/salidas.js') }}"></script>
    
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">


    <style>

        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width:auto;
            padding:0 10px;
            border-bottom:none;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <h1 class="text-center header">Registrar Salida</h1>




            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <form role="form" id="salidasform" action="{{path('crear_salidas')}}" method="POST" >
                    <div class="row">

                        <div class="form-group">
                            <label for="cb" class="col-md-2 control-label">Código de Barras:</label>
                            <div class="col-md-8"><input class="form-control" type="text" name="cb"  id="cb"  />
                                <input type="hidden" name="iddetalleentrada"  data-id="" id="iddetalleentrada"/>
                                <input type="hidden" name="idproducto" data-id="idproducto" id="idproducto"/>
                                <input type="hidden" name="folio" data-folio="" id="folio"/>
                            </div> 
                            <div class="col-md-2">

                                <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_salida" class="btn  text-center  " type="submit"  {% else %}  class="btn boton_disable"  {% endif %} value="Agregar Salida" /> 
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos del producto</legend>
                    <div class="col-md-3">
                        <label class="control-label col-md-6">Producto:</label>
                        <label class="control-label col-md-6" id="lbproducto"></label>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label col-md-6">Valor:</label>
                        <label class="control-label col-md-6" id="lbvalor"></label>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label col-md-6">Fecha de Alta:</label>
                        <label class="control-label col-md-6" id="lbfecha"></label>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label col-md-6">Status:</label>
                        <label class="control-label col-md-6" id="lbstatus"></label>
                    </div>
                </fieldset>
            </div>
            <input type="hidden"  data-path="{{path('detalle_entrada_codigo')}}" id="path_entrada"/>

        </div>
        <div class="row">
            <h1 class="text-center header">Salidas Registradas</h1>
        </div>

        <div class="row">
<div class="col-md-12 tableblanco " >
                <form action="{{path('salidasfecha')}}"  method="post">
                <table border="0" cellspacing="5" cellpadding="5" style="padding-bottom: 14px;">
                    <tbody><tr>
                            <td>Fecha de inicio:</td>
                            <td><input type="text" class="form-control datepicker"  id="min" name="min"   value=""></td>
                            
                            <td>Fecha de término:</td>
                            <td><input type="text" class="form-control datepicker"  id="max" name="max"   value=""></td>
                           
                            <td><input type="submit" value="Generar reporte" class="btn-lg linkload"></td>
                        </tr>
                        <tr>
                            <td colspan="2">{% if min is defined %} {{min|date('d/m/Y')}} {% endif %}</td>
                             <td colspan="2">{% if max is defined %} {{max|date('d/m/Y')}} {% endif %}</td>
                        </tr>
                    </tbody></table>
                </form>
            </div>
            <div class="col-md-10 col-md-offset-1 tableblanco" >
                <table id="tabla_salidas" class="display nowrap table table-striped  " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Salida</th>
                            <th class="text-center">Fecha de Registro</th>
                            <th class="text-center">Producto</th>  
                            <th class="text-center">Modelo</th>
                            <th class="text-center">Color</th>
                            <th class="text-center">Ancho</th>
                            <th class="text-center">Largo</th>
                            <th class="text-center">Peso</th>
                            <th class="text-center">Número</th>
                            <th class="text-center">Código</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for salidas in salidas %} 
                            <tr>
                                <td class="text-center">{{salidas.id}}</td>
                                <td class="text-center">{{salidas.fecha|date('d/m/Y H:i:s')}}</td>
                                <td class="text-center">{{salidas.detalleentrada.entrada.producto.nombre}}</td>
                                <td class="text-center">{{salidas.detalleentrada.entrada.producto.modelo.nombre}}</td>
                                <td class="text-center">{{salidas.detalleentrada.entrada.producto.color.nombre}}</td>
                                
                                <td class="text-center">{{salidas.detalleentrada.entrada.ancho}}</td>
                                <td class="text-center">{{salidas.detalleentrada.entrada.longitud}}</td>
                                <td class="text-center">{{salidas.detalleentrada.entrada.peso}}</td>
                                <td class="text-center">{{salidas.detalleentrada.entrada.numero}}</td>
                                
                                <td class="text-center">{{salidas.codigo}}</td>



                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {% include "AdminBundle:entradas:detalleentradas.html.twig" %}


        </div>
    </div>
                   <script>
  
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker();
        
    });
</script>
{% endblock %}