{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}
{% block header %}

    <script src="{{ asset('bundles/admin/js/inventarios.js') }}"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

 <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <h1 class="text-center">INVENTARIOS</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12  tableblanco">

                <table id="tabla_inventario" class="display nowrap table table-striped  " cellspacing="0" width="100%">
                    <thead>
                        <tr>  <th>Producto</th>
  <th>Modelo</th>
                            <th>Color</th>
                            <th>Ancho</th>
                            <th>Largo</th>
                            <th>Peso</th>
                            <th>Número</th>
                          


                            <th>Fecha</th>
                            <th>Unidades</th>

                            <th>Cantidad Disponible</th>

                        </tr>
                    </thead>
                    <tbody>


                        {% for productos in productos %}
                            <tr>
                                <td style="vertical-align: middle;">{{productos.producto.nombre}}</td>
                                <td style="vertical-align: middle;">{{productos.producto.modelo.nombre}}</td>
                                <td style="vertical-align: middle;">{{productos.producto.color.nombre}}</td>
                                
                                <td style="vertical-align: middle;">{{productos.ancho}}</td>
                                <td style="vertical-align: middle;">{{productos.longitud}}</td>
                                <td style="vertical-align: middle;">{{productos.peso}}</td>
                                <td style="vertical-align: middle;">{{productos.numero}}</td>


                                

                                <td style="vertical-align: middle;">{{productos.producto.fecha|date('d/m/Y')}}</td>
                                <td style="vertical-align: middle;">{% render(controller('AdminBundle:Productos:existencia', { 'id': productos.id })) %}</td>


                                <td style="vertical-align: middle;" ><img src="{{asset('imagenes/loadingddl.gif')}}" class="loading_dp" id="loading_dp{{productos.id}}" class="" style="width:20px;height: 20px; display: none;" /><script>disponible({{productos.id}}, '{{path('disponible')}}');</script><div class="col-md-6 "><span id="dp{{productos.id}}" class="dp{{productos.id}} disponibles" ></span></div><div class="col-md-6"><span style="display:none;" id="undp{{productos.id}}"></span></div></td>
                            </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>

        </div>

        <div class="row" style="padding-bottom:30px;">
            <input type="hidden" value="{{path('disponible')}}" id="ruta_disponibles">
            <div class="col-md-10 col-md-offset-1">
                <!-- BAR CHART -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Existencia de productos (por unidad)</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <!--  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="barChart" style="height:230px"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
    <script>

                var productos ={{ productos|json_encode()|raw }}
                var exist ={{exist|json_encode()|raw}}
                


    </script>
    <script src="{{ asset('graficas/js/Chart.min.js') }}"></script>

    <script src="{{ asset('graficas/js/app.min.js') }}"></script>
    <script src="{{ asset('graficas/js/grafica.js') }}"></script>



{% endblock %}
