{# empty Twig template #}
<div id="detalleusuarios" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header"><!--#9adc09-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Detalles / Modificar Usuario</h4>
            </div>
            <form action="" id="modificar_usuario" method="POST">
                <div class="modal-body"">

                    <!-- Fecha de Ingreso -->
                    <div class="col-md-12">
                         <div class="col-md-12"  style="margin-top: 24px;">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Fecha de habilitación
                                </label>
                                <div class="controls"><input name="fechamodificar" disabled class="form-control" placeholder="" type="text"  value="" id="fechamodificar" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Nombre(s)
                                </label>
                                <div class="controls"><input name="nombremodificar" class="form-control" placeholder="" type="text" required value="" id="nombremodificar" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Apellido Paterno
                                </label>
                                <div class="controls"><input name="apellidopmodificar" class="form-control" placeholder="" type="text" required value="" id="apellidopmodificar" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Apellido Materno
                                </label>
                                <div class="controls"><input name="apellidommodificar" class="form-control" placeholder="" type="text"  value="" id="apellidommodificar" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                        
                           
                       
                        
                            <div class="col-md-12">
                            <div class="control-group">
                                <label for="" class="control-label">	
                                    Puesto
                                </label>
                                <div class="controls"><input name="puestomodificar" class="form-control" placeholder="" type="text"  value="" id="puestomodificar" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                   
                 
                    </div>

                        

                    <input name="idusuariosmodificar" class="form-control" placeholder="" type="hidden"  value="" id="idusuariosmodificar" style="width: 100%;" >

                </div>
                <div class="modal-footer icon-preview">

                    <div {% if 'EDICION' in ppm %} class="btn-lg col-md-3 text-center " id="btn_modificar"  data-path="{{path('modificar_usuario')}}"{% else %} class="btn-lg col-md-3 text-center boton_disable " {% endif %}  title="Modificar"  style="cursor: pointer;" > Modificar</div><br><br>

                </div>
            </form>


        </div>

    </div>
</div>

