{% extends 'base.html.twig' %}
{% block title %}
        Usuarios
        {% endblock %}
{% block header %}

    <script src="{{ asset('bundles/admin/js/usuarios.js') }}"></script>
    
    
    <script src="{{ asset('bundles/admin/js/proveedores.js') }}"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">


{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">

            <h1 class="text-center header">Registro de Usuarios</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <form role="form" id="usuarioform">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre (s)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="apellidop" name="apellidop" placeholder="A. Paterno">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="apellidom" name="apellidom" placeholder="A. Materno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" id="puesto" name="puesto" placeholder="Puesto">
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="urlinsertarusuario" value="{{path('crear_usuario')}}"/>
                            <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_usuario" class="btn-lg col-md-2 text-center pull-right " type="submit"  {% else %}  class="btn-lg col-md-2 text-center pull-right boton_disable"  {% endif %} value="Agregar Usuario" /> 
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row" >
            <h1 class="text-center header">Control de Accesos</h1>
            <div  {% if 'ESCRITURA' in ppm %} class="col-md-2 text-center div_enlace" id="mostar_agregar_permiso" {% else %} class="col-md-2 text-center div_enlace boton_disable" {% endif %}>
                Nuevo permiso
            </div>
            <div class="col-md-4" id="agregar_permiso" style="display:none">
                <div class="control-group">
                    <label for="" class="control-label">	
                        Usuario:</label>
                    <select name="usuario_ddl" id="usuario_ddl" class="form-control" data-width="100%" data-path="{{path('modulos_usuario')}}">
                        <option value="0" >Elige un usuario </option>
                        {% for uddl in usuarios_ddl %}
                            <option value="{{uddl.id}}" >{{uddl.nombre}} {{uddl.apellidop}} {{uddl.apellidom}}</option>
                        {% endfor %}
                    </select>
                    <img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingddl" style="width:20px;height: 20px; display: none;" />

                </div>
            </div>
            <div class="col-md-3" id="moduloddl" style="display:none">
                <div class="control-group">
                    <label for="" class="control-label">	
                        Módulo:</label>
                    <select name="modulo_ddl" id="modulo_ddl" class="form-control" data-width="100%">
                        <option value="0" >Elige un módulo </option>

                    </select>
                    <img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingddl" style="width:20px;height: 20px; display: none;" />

                </div>
            </div>
                    <div class="col-md-3">
                        
                        <input type="hidden" id="urlinsertarnuevopermiso" value=""/>
                            <input type="submit" class="btn-lg  text-center pull-right " id="btn_agregar_permiso" data-path="{{path('agregar_permiso')}}" style="display: none;" value="Agregar Permiso" />
                        
                    </div>
        </div>
        <div class="row">
            <h1 class="text-center header2">Usuarios</h1>
        </div>

        <div class="row" style="display: none;">
            <div class="col-md-10 col-md-offset-1 tableblanco" >
                <table class="display nowrap table table-striped  " cellspacing="0" width="100%" id="tabla_usuarios"  >
                    <thead>

                    <th>N. Acceso</th>
                    <th class="text-center">Escritura</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Impresión</th>
                    <th class="text-center">Lectura</th>
                    <th class="text-center">Edición</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Ver/Modificar</th>
                    <th class="text-center">Eliminar</th>
                    </thead>
                    <tbody>


                        {% for usuarios in usuarios %}
                            <tr>

                                <td>{{usuarios.idmodulo.nombre}}</td>  
                                <td>Detalles</td>
                                <td class="text-center">{{usuarios.idusuario.nombre}} </td>
                                <td class="text-center">si</td>

                                <td class="text-center">si</td>
                                <td class="text-center">Si</td>

                                <td>Si</td>
                                <td>{{usuarios.idusuario.fechahabilitacion|date('d/m/Y')}}</td>

                                <td>X</td>
                            </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-md-offset-3 tableblanco" >
                <table id="tabla_ajax"class='table table-hover table-responsive ' cellspacing="0">
                    <thead>
                        <tr>
                            <th>Módulo</th>
                            <th class="text-center">Escritura</th>
                            <th class="text-center">Nombre</th> 
                            <th class="text-center">Impresión</th>
                            <th class="text-center">Lectura</th>
                            <th class="text-center">Edición</th>

                            <th class="text-center">Ver/Modificar</th>

                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var tujson ={{ tu|json_encode()|raw }}
                var ruta = '{{ruta|raw}}';
         var modulo2={{modulo2|json_encode()|raw}}

    </script>

    <div class="col-md-12">
        {% include "AdminBundle:usuarios:detalleusuarios.html.twig" %}
    </div>
{% endblock %}
