/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2016, 07:56:46 PM
    Author     : FER
*/
.main{
    background-color: #d3d3d3;
    margin-top: -20px;
    padding-top: 40px;
}
body{
    font-family: 'Roboto', sans-serif !important;
}
.tableblanco{
    background-color: #fbfbfb;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.header{
    color:#feffff;
    background-color: #009888;
    padding:5px;
}
.header2
{
    color:#00978b;
    padding-top: 20px;
}
div#loading{
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:fixed;
    background:#EBF7EC;
    z-index: 2000;
    opacity:0.8;
}



.error_validate{
    color:#FF0000;
}
.ok_validate{
    color:#00CC00;
}

.modal-header
{
    background-color: #009688;
    color:#fbfbfb;
}


/*USUARIOS*/
#tabla_ajax img{
    width: 20px;
    height: 20px;
}

.titulo_tabla:hover , tr.group:hover{
   
    
}
.resultado_tabla:hover
{
    background-color: #f5f5f5;
}
.detalle_usuario{
    cursor:pointer;
}

.div_enlace
{
    color:#009888;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.btn-lg-tabla {
    padding: 5px 8px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 6px;
    background-color: #00a399;
    color: #fbfbfb;
   
    
}

.precio{
    font-size: 24px;
}


.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


.page-header2{
     padding-bottom: 9px; 
     margin: 0 0 10px; 
     border-bottom: 1px solid #eee;
}