/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2016, 07:56:46 PM
    Author     : FER
*/
.main{
    background-color: #d3d3d3;
    margin-top: -20px;
    padding-top: 40px;
}

div#loading{
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:fixed;
    background:#EBF7EC;
    z-index: 2000;
    opacity:0.8;
}

#menu
{
    background-color: #009888;
    padding: 5px;
}

.header{
    color:#feffff;
    background-color: #009888;
    padding:5px;
    
}


.container{padding-top: 20px;}
.main{
    background-color: #d3d3d3;
    margin-top: -20px;
    padding-top: 40px;
}

i{
    font-size: 70px !important;
    color:#009888;
    
}
.centrado{text-align: center;padding-bottom: 15px;}
.centrado span{
    font-size: 20px;
    color:black;
}
body{
    font-family: 'Roboto', sans-serif !important;
}