/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/02/2016, 07:07:14 PM
    Author     : FER
*/

body { 
  background: url('../imagenes/fondo.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


.panel-default {
opacity: 0.9;
margin-top:50px;
}
.form-group.last { margin-bottom:0px; }

.btn-log{
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div#loading{
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:fixed;
    background:#EBF7EC;
    z-index: 2000;
    opacity:0.8;
}