{# empty Twig template #}
<div id="container">
    <div class="navT">
        <div class="icon"></div>
        <img src="{{asset('imagenes/logo.png')}}" class="img-responsive pull-right"  style="height: 100%; padding:5px;" />
    </div>

    <div id="menu" class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{path('admin_homepage')}}" class="space"> <i class="fa fa-align-justify"></i><span> Inicio</span></a>

            </div>
            <div class="col-md-3">
                <a href="{{path('usuarios')}}" class="space"><i class="fa fa-users"></i> <span> Usuarios</span></a>

            </div>
            <div class="col-md-3">
                <a href="{{path('proveedores')}}" class="space"><i class="fa fa-product-hunt"></i><span> Proveedores</span></a>

            </div>
            <div class="col-md-3">
                <a href="{{path('productos')}}" class="space"><i class="fa fa-cart-plus"></i><span> Productos</span></a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{path('inventario')}}" class="space"> <i class="fa fa-bar-chart"></i><span> Inventario</span></a>

            </div>
            <div class="col-md-3">
                <a href="{{path('entradas')}}" class="space"> <i class="fa fa-plus"></i><span> Entradas</span></a>

            </div>

            <div class="col-md-3">
                <a href="{{path('salidas')}}" class="space"> <i class="fa fa-minus"></i><span> Salidas</span></a>

            </div>
            <div class="col-md-3">
                <a href="{{path('reportes')}}" class="space"> <i class="fa fa-pie-chart"></i><span> Reportes</span></a>

            </div>


            <div class="row">


            </div>
            <div class="col-md-3">
                <a href="{{path('logout')}}" class="space"> <i class="fa fa-close"></i><span> Cerrar Sesión</span></a>

            </div>


        </div>
    </div>

</div>