<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <title>{% block title %}Inicio{% endblock %}</title>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/generales.js') }}"></script>

        <link href={{ asset('bootstrap/css/bootstrap.css') }} rel="stylesheet" type="text/css"/>
        <link href={{ asset('css/inicio.css') }} rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,500,400' rel='stylesheet' type='text/css'>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid" id="menu">
            <img src="{{asset('imagenes/logo.png')}}" class="img-responsive" />
        </div>
        <div class="container">
            <div class="row">

                <h1 class="text-center header">Menú principal</h1>

            </div>
        </div>
        <div class="container main">
            <div class="row centrado">
                <div class="col-md-2">
                    <a href="{{path('usuarios')}}" class="menu"><i class="fa fa-users"></i></a>
                    <br><span> Usuarios</span>
                </div>
                <div class="col-md-2">
                    <a href="{{path('productos')}}" class="menu"><i class="fa fa-cart-plus"></i></a>
                    <br><span> Productos</span>
                </div>

                <div class="col-md-2">
                    <a href="{{path('proveedores')}}" class="menu"><i class="fa fa-product-hunt"></i></a>
                    <br><span> Proveedores</span>
                </div>
                <div class="col-md-2">
                    <a href="{{path('inventario')}}" class="menu"> <i class="fa fa-bar-chart"></i></a>
                    <br><span> Inventario</span>
                </div>
                <div class="col-md-2">
                    <a href="{{path('entradas')}}" class="menu"><i class="fa fa-plus"></i></a>
                    <br><span> Entradas</span>
                </div>
                <div class="col-md-2">
                    <a href="{{path('salidas')}}" class="menu"><i class="fa fa-minus"></i></a>
                    <br><span> Salidas</span>
                </div>

            </div>
            <div class="row centrado">
                <div class="col-md-2">
                    <a href="{{path('reportes')}}" class="menu"><i class="fa fa-pie-chart"></i></a>
                    <br><span> Reportes</span>
                </div>

            </div>
        </div>



        <div id="loading">
            <img src="{{asset('imagenes/loading.gif')}}"  alt="loading" style="width: 120px; position: absolute; top: 50%; left: 50%; margin-top: -60px; margin-left: -80px;"/>
        </div>
    </body>
</html>
