{# empty Twig template #}
<div class="col-md-6 col-sm-6 col-xs-6">
    <div class="control-group">
        <select name="det_proveedor1" id="det_proveedor1" class="form-control" data-width="100%" >
            <option value="0" >Eliga el proveedor </option>
            {% for proveedor in proveedor %}
                <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio11" name="det_precio11" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio12" name="det_precio12" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio13" name="det_precio13" placeholder="0">
    </div>
</div>
<!--

<div class="col-md-6 col-sm-6 col-xs-6">
    <div class="control-group">
        <select name="det_proveedor2" id="det_proveedor2" class="form-control" data-width="100%" >
            <option value="0" >Eliga el proveedor </option>
            {% for proveedor in proveedor %}
                <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio21" name="det_precio21" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio22" name="det_precio22" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio23" name="det_precio23" placeholder="0">
    </div>
</div>



<div class="col-md-6 col-sm-6 col-xs-6">
    <div class="control-group">
        <select name="det_proveedor3" id="det_proveedor3" class="form-control" data-width="100%" >
            <option value="0" >Eliga el proveedor </option>
            {% for proveedor in proveedor %}
                <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio31" name="det_precio31" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio32" name="det_precio32" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio33" name="det_precio33" placeholder="0">
    </div>
</div>



<div class="col-md-6 col-sm-6 col-xs-6">
    <div class="control-group">
        <select name="det_proveedor4" id="det_proveedor4" class="form-control" data-width="100%" >
            <option value="0" >Eliga el proveedor </option>
            {% for proveedor in proveedor %}
                <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio41" name="det_precio41" placeholder="0">
    </div>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio42" name="det_precio42" placeholder="0">
    </div>
</div><div class="col-md-2 col-sm-2 col-xs-2">
    <div class="control-group">
        <input  type="number" step="any" min="0" class="form-control" id="det_precio43" name="det_precio43" placeholder="0">
    </div>
</div>
        -->