{% extends 'base.html.twig' %}
{% block title %}
    Productos
{% endblock %}
{% block header %}

    <script src="{{ asset('bundles/admin/js/productos.js') }}"></script>

    <script src="{{ asset('bundles/admin/js/productosfotos.js') }}"></script>
    <script src="{{ asset('js/JsBarcode.js') }}"></script>
    <script src="{{ asset('js/jQuery.print.js') }}"></script>
    <script src="{{ asset('js/CODE128.js') }}"></script>
    <script src="{{ asset('js/CODE128.js') }}"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">


{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">

            <h1 class="text-center header">Registro de Productos</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="container main">

        <div class="row">
            <div class="col-md-2 col-md-offset-5 btn btn-lg" id="divnuevoproducto">Nuevo Producto</div>
            <div class="col-md-12" id="nuevoproductodiv" style="display: none;">
                <form role="form" id="productoform" method="POST" enctype="multipart/form-data" action="{{path('crear_producto')}}">

                    <div class="row">
                        <div class="col-md-12">

                            <fieldset>
                                <legend>Usuario que captura</legend>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" disabled id="usuario" name="usuario" placeholder="Usuario que captura" value="{{app.user.nombre}} {{app.user.apellidop}} {{app.user.apellidom}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" class="form-control" disabled id="puesto" name="puesto" placeholder="Puesto del usuario" value="Puesto: {{app.user.puesto}}">
                            </div>
                        </div>


                    </div>

                    <!--<div class="row">
                        <div class="col-md-12">

                            <fieldset>
                                <legend>Proveedores</legend>
                            </fieldset>
                        </div>
                    {% include 'AdminBundle:proveedores:proveedores.html.twig' %}


                </div>-->

                    <div class="row">
                        <div class="col-md-12">

                            <fieldset>
                                <legend>Datos del Producto</legend>
                                <div class="control-group">

                                </div>

                            </fieldset>

                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="form-group">

                                <input type="text" class="form-control" id="producto" name="producto" placeholder="Nombre del producto">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="form-group">

                                <input type="text" class="form-control" id="otrosnombres" name="otrosnombres" placeholder="Otros nombres">
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-5" >
                            <div class="control-group">

                                <select name="claseproducto_ddl" id="claseproducto_ddl" class="form-control" data-width="100%" data-path="{{path('clase_tipos')}}">
                                    <option value="99" >Default - Clase </option>
                    {% for clase in clase %}
                        <option value="{{clase.id}}" >{{clase.nombre}} </option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div class="col-md-1"><img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingddl" class="" style="width:20px;height: 20px; display: none;"/>  </div>
        <div class="col-md-6" style="" id="div_tipoproducto_ddl"  >
            <div class="control-group">

                <select name="tipoproducto_ddl" id="tipoproducto_ddl" class="form-control" data-width="100%" >
                    <option value="999" >Default - Tipo </option>

                </select>


            </div>
        </div>

    </div>-->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="control-group">
                                <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <select name="modelo" id="modelo" class="form-control" data-width="100%" >
                                    <option value="0" >Elige el modelo del Producto </option>
                                    {% for modelo in modelo %}
                                        <option value="{{modelo.id}}" >{{modelo.nombre}} </option>
                                    {% endfor %}
                                    <option value="9999" > - Agregar un nuevo Modelo </option>
                                </select>

                            </div>
                            <div class="control-group" id="divnuevomodelo" style="display:none;">
                                <input type="text" class="form-control" id="modelonuevo" name="modelonuevo" placeholder="Ingresa el nuevo modelo">
                                <img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingmodelo" class="" style="width:20px;height: 20px; display: none;" />
                                <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_modelo" class="btn-lg col-md-12 text-center  " data-path="{{path('agregar_modelo')}}" type="submit"  {% else %}  class="btn-lg col-md-12 text-center  boton_disable"  {% endif %} value="Agregar Modelo" /> 
                            </div>
                        </div>
                        <!--                        <div class="col-md-3">
                                                    <div class="control-group">
                                                        <input type="number" step="any" min="0" class="form-control"  id="numero" name="numero" placeholder="Número">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="control-group">
                        
                                                        <select name="unidadmedida_ddl" id="unidadmedida_ddl" class="form-control" data-width="100%" >
                                                            <option value="0" >Eliga la unidad de medida </option>
                        {% for unidad in unidad %}
                            <option value="{{unidad.id}}" >{{unidad.nombre}} </option>
                        {% endfor %}
                    </select>

                </div>
            </div>-->
                        <div class="col-md-6">
                            <div class="control-group">

                                <select name="color" id="color" class="form-control" data-width="100%" >
                                    <option value="0" >Elige el color del Producto </option>
                                    {% for color in color %}
                                        <option value="{{color.id}}" >{{color.nombre}} </option>
                                    {% endfor %}
                                    <option value="9999" > - Agregar un nuevo Color </option>

                                </select>
                            </div>
                            <div class="control-group" id="divnuevocolor" style="display:none;">
                                <input type="text" class="form-control" id="colornuevo" name="colornuevo" placeholder="Ingresa el nuevo color">
                                <img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingcolor" class="" style="width:20px;height: 20px; display: none;" />
                                <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_color" class="btn-lg col-md-12 text-center  " data-path="{{path('agregar_color')}}" type="submit"  {% else %}  class="btn-lg col-md-12 text-center  boton_disable"  {% endif %} value="Agregar Color" /> 
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--  <div class="col-md-3">
                              <div class="control-group">
                                  Peso en Kg.
                                  <input  type="number" step="any" min="0" value="0" class="form-control" id="peso" name="peso" placeholder="Peso en kg.">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="control-group">
                                  Ancho en cm.
                                  <input  type="number" step="any" min="0" value="0" class="form-control" id="ancho" name="ancho" placeholder="Ancho en cm.">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="control-group">
                                  Longitud en cm.
                                  <input  type="number" step="any" min="0" value="0"   class="form-control" id="longitud" name="longitud" placeholder="Longitud en cm.">
                              </div>
                          </div>-->

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="control-group">

                                <select name="tipotejido_ddl" id="tipotejido_ddl" class="form-control" data-width="100%" >
                                    <option value="0" >Eliga el tipo de tejido </option>
                                    {% for tipot in tipot %}
                                        <option value="{{tipot.id}}" >{{tipot.nombre}} </option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <input  type="text"  class="form-control" id="densidad" name="densidad" placeholder="Densidad.">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <input  type="text"  class="form-control" id="hilados" name="hilados" placeholder="Hilados.">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <input  type="text"  class="form-control" id="fibras" name="fibras" placeholder="Fibras.">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <input  type="text" class="form-control" id="composicion" name="composicion" placeholder="Composicion.">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <input  type="text" class="form-control" id="usos" name="usos" placeholder="Principales usos.">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 ">

                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename"  disabled="disabled" id="fototexto" name="fototexto"> <!-- don't give a name === doesn't send on POST/GET -->
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Limpiar
                                    </button>
                                    <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Buscar Archivo</span>
                                        <input type="file"  id="file_producto" name="input-file-preview" /> <!-- rename it -->
                                    </div>
                                </span>
                            </div><!-- /input-group image-preview [TO HERE]--> 

                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <textarea class="form-control" rows="14" id="adicional" name="adicional" placeholder="Información adicional"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="urlinsertarproducto" value="{{path('crear_producto')}}"/>
                            <input   {% if 'ESCRITURA' in ppm %} id="btn_agregar_producto" class="btn-lg col-md-2 text-center pull-right " type="submit"  {% else %}  class="btn-lg col-md-2 text-center pull-right boton_disable"  {% endif %} value="Agregar Producto" /> 
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <h1 class="text-center header">Lista de Productos</h1>
            <div class="col-md-12 tableblanco " >
                <form action="{{path('productosfecha')}}"  method="post">
                <table border="0" cellspacing="5" cellpadding="5" style="padding-bottom: 14px;">
                    <tbody><tr>
                            <td>Fecha de inicio:</td>
                            <td><input type="text" class="form-control datepicker"  id="min" name="min"   value=""></td>
                            
                            <td>Fecha de término:</td>
                            <td><input type="text" class="form-control datepicker"  id="max" name="max"   value=""></td>
                           
                            <td><input type="submit" value="Generar reporte" class="btn-lg linkload"></td>
                        </tr>
                        <tr>
                            <td colspan="2">{% if min is defined %} {{min|date('d/m/Y')}} {% endif %}</td>
                             <td colspan="2">{% if max is defined %} {{max|date('d/m/Y')}} {% endif %}</td>
                        </tr>
                    </tbody></table>
                </form>
            </div>
              <div class="col-md-12 tableblanco " >
                <table id="tabla_productos" class="display nowrap table table-striped  " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <!-- <th>Ancho</th>
                             <th>Largo</th>
                             <th>Peso</th>
                             <th>No.</th>
                             <th>Proveedor</th>-->
                            <th>Folio</th>
                            <th>Fecha</th>
                            <th>Acciones</th>


                        </tr>
                    </thead>
                    <tbody>


                        {% for productos in productos %}
                            <tr>
                                <td style="vertical-align: middle;">{{productos.nombre}}</td>
                                <td style="vertical-align: middle;">{{productos.modelo.nombre}}</td>
                                <td style="vertical-align: middle;">{{productos.color.nombre}}</td>


                                <td style="vertical-align: middle;">{{productos.folio}}</td>
                                <td style="vertical-align: middle;">{{productos.fecha|date('d/m/Y')}}</td>
                                <td class='text-center' style="vertical-align: middle;">
                                    <button class="btn btn-lg-tabla detalle_producto" type="button" data-toggle="modal" data-path="{{path('detalle_producto')}}" data-id="{{productos.id}}" data-target="#detalleproductos" > Detalles    </button>

                                </td>

                            </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {% include "AdminBundle:Productos:detalleproductos.html.twig" %}


        </div>



    </div>

    <!--  <table>
<tr>
<td style='padding:10px; text-align:center; font-size:15px; font-family:Arial,Helvetica;'>
       <a href='http://www.tec-it.com' title='Barcode Software by TEC-IT'>
               
       </a>
       <br/>
       <a href='http://www.tec-it.com' title='Barcode Software by TEC-IT'>Barcode Software</a>
</td>
<td>
   <div id="printable1">

       <img src='http://barcode.tec-it.com/barcode.ashx?data=mi-info-aqui&code=Code128&dpi=96' alt='Barcode Generator TEC-IT'/>
   </div>
   <button class="print" data-id="printable1"> Print this </button>

</td>
</tr>
</table>-->




    <!-- <a id="download" download="barcode.png">Download as image</a>
      <div id="printable4">
      <canvas id="demo"  style="display: none;"></canvas>
      <div id="aa"></div>
      </div>
      <button class="print" data-id="printable4"> Print this </button>-->
    
    <script>
  
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker();
        
    });
</script>
{% endblock %}
