{% extends 'basereportes.html.twig' %}

{% block title %}Productos y Precios por proveedor{% endblock %}
{% block header %}


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


</style>
{% endblock %}
{% block body %}}<
    <div class="side-body">
        <div class="row">

            <h1 class="text-center">REPORTES </h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
        <div class="row" style="padding-bottom: 15px;">
            <h3 class="text-center">Productos y Precios por proveedor</h3>
            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                <div class="control-group">
                    <select name="proveedor_ddl" id="proveedor_ddl" class="form-control" data-width="100%" data-path="{{path('detalle_pppr')}}" >
                        <option value="0" >Eliga el proveedor</option>
                        {% for proveedor in proveedor %}
                            <option value="{{proveedor.id}}" >{{proveedor.empresa}} - {{proveedor.apellidos}} {{proveedor.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
                        <div class="col-md-1"><img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingddl" class="" style="width:20px;height: 20px; display: none;" /></div>
        </div>
        
        <div class="row">
            <div class="col-md-12  table-responsive" id="divpppr" style="display:none;">
                <table id="table_pppr" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    
                    
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="{{ asset('graficas/js/Chart.min.js') }}"></script>

    <script src="{{ asset('graficas/js/app.min.js') }}"></script>
    <script src="{{ asset('graficas/js/ppproveedor.js') }}"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>



<script>
        $("a").removeClass('active');
        $("#ppproveedorlink").addClass('active');
    </script>

    
{% endblock %}
