{% extends 'basereportes.html.twig' %}

{% block title %}Productos y Precios por proveedor{% endblock %}
{% block header %}


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


</style>
{% endblock %}
{% block body %}}<
    <div class="side-body">
        <div class="row">

            <h1 class="text-center">REPORTES </h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>
        <div class="row" style="padding-bottom: 15px;">
            <h3 class="text-center">Precios por producto</h3>
            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                <div class="control-group">
                    <select name="producto_ddl" id="producto_ddl" class="form-control" data-width="100%" data-path="{{path('detalle_ppproducto')}}" >
                        <option value="0" >Eliga el producto</option>
                        {% for producto in producto %}
                            <option value="{{producto.id}}" >{{producto.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
                        <div class="col-md-1"><img src="{{asset('imagenes/loadingddl.gif')}}" id="loadingddl" class="" style="width:20px;height: 20px; display: none;" /></div>
        </div>
        
        <div class="row">
            <div class="col-md-12  table-responsive" id="divpppr" style="display:none;">
                <table id="table_ppproducto" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    
                    
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" >
             <div class="col-md-6 col-md-offset-3" id="grafica1"> 
                 <h3 class="text-center"><span id="productotitulo"></span></h3>
                <div class="pull-right"> <svg height="10" width="10">
                    <circle cx="0" cy="0" r="15" stroke="black" stroke-width="1" fill="#FFFF66" />
                    </svg>Precio 1  </div>
                <canvas id="charprecio1" width="400" height="400"></canvas>

            </div>
            <div class="col-md-6 col-md-offset-3 " id="grafica2">
                 <h3 class="text-center"><span id="productotitulo"></span></h3>
                <div class="pull-right"> <svg height="10" width="10">
                    <circle cx="0" cy="0" r="15" stroke="black" stroke-width="1" fill="#FFFF66" />
                    </svg>Precio 2 </div>
                <canvas id="charprecio2" width="400" height="400"></canvas>

            </div>
            <div class="col-md-6 col-md-offset-3 " id="grafica3">
                 <h3 class="text-center"><span id="productotitulo"></span></h3>
                <div class="pull-right"> <svg height="10" width="10">
                    <circle cx="0" cy="0" r="15" stroke="black" stroke-width="1" fill="#FFFF66" />
                    </svg>Precio 3 </div>
                <canvas id="charprecio3" width="400" height="400"></canvas>

            </div>
        </div>

    </div>

        
        
    <script src="{{ asset('graficas/js/Chart.min.js') }}"></script>

    <script src="{{ asset('graficas/js/app.min.js') }}"></script>
    <script src="{{ asset('graficas/js/ppproducto.js') }}"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>



<script>
        $("a").removeClass('active');
        $("#ppproducto").addClass('active');
    </script>


{% endblock %}
