{% extends 'basereportes.html.twig' %}

{% block title %}Reportes{% endblock %}
{% block header %}


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">



</style>
{% endblock %}
{% block body %}}<
    <div class="side-body">
        <div class="row">

            <h1 class="text-center">REPORTES</h1>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>

            {% endfor %}
        </div>


        <div class="row" style="padding-bottom:30px;">
            <div class="col-md-12 " >
                <h3 class="text-center">Existencias Generales<br>(por unidad)</h3>
                <div class="pull-right"> <svg height="10" width="10">
                    <circle cx="0" cy="0" r="15" stroke="black" stroke-width="1" fill="#FFFF66" />
                    </svg>Existencias  </div>
                <canvas id="miChartExistencias" width="400" height="200"></canvas>

            </div>
            <div class="col-md-12" >
                <h3 class="text-center">Entradas y Salidas Generales<br> (por unidad de medida)</h3>
                <div class="pull-right"> <svg height="10" width="10">
                    <circle cx="0" cy="0" r="15" stroke="black" stroke-width="1" fill="#FF8F00" />
                    </svg>Entradas  <svg height="10" width="10">
                    <circle cx="0" cy="0" r="15" stroke="black" stroke-width="1" fill="#3C7DC4" />
                    </svg>Salidas</div>
                <canvas id="miChart" width="400" height="200" ></canvas>

            </div>


        </div>
    </div>
    <script>

        var productos ={{ productos|json_encode()|raw }}
                var entradasg ={{entradasgenerales|json_encode()|raw}}
                var salidasg ={{salidasgenerales|json_encode()|raw}}
                var existencias ={{existencias|json_encode()|raw}}

    </script>
    <script src="{{ asset('graficas/js/Chart.min.js') }}"></script>

    <script src="{{ asset('graficas/js/app.min.js') }}"></script>
    <script src="{{ asset('graficas/js/reportes.js') }}"></script>
    <script>
        $("a").removeClass('active');
        $("#generaleslink").addClass('active');
    </script>


{% endblock %}
