
<html>
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <title>{% block title %}Usuarios{% endblock %}</title>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/login.js') }}"></script>

        <link href={{ asset('bootstrap/css/bootstrap.css') }} rel="stylesheet" type="text/css"/>
        <link href={{ asset('css/login.css') }} rel="stylesheet" type="text/css"/>
    </head>
    <body>   
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-lock"></span> Login</div>
                        <div class="panel-body">
                          
                                

                                <form action="{{ path('login') }}" method="post" class="form-horizontal">
                                    <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                        Usuario</label><div class="col-sm-9">
                                            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" /></div>
                                    </div>
                                    <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                        Password</label>
                                        <div class="col-sm-9">
                                    <input type="password" id="password" class="form-control" name="_password" />
                                        </div></div>
                                    {#
                                        If you want to control the URL the user
                                        is redirected to on success (more details below)
                                        <input type="hidden" name="_target_path" value="/account" />
                                    #}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                      <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9 ">
                            <button class="btn-log pull-right loginbtn" id="loginbtn" type="submit">login</button>
                        </div>
                    </div>
                                    
                                </form>
                                {% for flashMessage in app.session.flashbag.get('notice') %}

                                    <div class="alert alert-success">
                                        {{ flashMessage }}
                                    </div>

                                {% endfor %}

                                {% for flashMessage in app.session.flashbag.get('warning') %}

                                    <div class="alert alert-danger">
                                        {{ flashMessage }}
                                    </div>

                                {% endfor %}
                           

                        </div>
                    </div>
                </div>
            </div>

<div id="loading">
    <img src="{{asset('imagenes/loading.gif')}}" alt="loading" style="width: 120px; position: absolute; top: 50%; left: 50%; margin-top: -60px; margin-left: -80px;"/>
</div>
    </body></html>